<!DOCTYPE html>
<html lang="es">
<head>
    <base target="_top">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= og.title %></title>
    <meta name="description" content="<%= og.description %>">
    <meta property="og:title" content="<%= og.title %>">
    <meta property="og:description" content="<%= og.description %>">
    <meta property="og:image" content="<%= og.image %>">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript" src='alertConfig.js'></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GDKTEYM3Q"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-5GDKTEYM3Q');
</script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div id="bod">
    <header id="header">

        
        <img id="beta" src="gerardo.jpg" alt="">
        
        <div id="head">
            <h1>
                Gerardo Borrego 
            </h1>
            <h3>
                31.717.920
            </h3>
            <h3>
                Programador
            </h3>
        </div>
        </header>
        
            <main>
                <aside id="left">
                
                    <h2 class="fondo">Contacto</h2><br>
                        <div class="block">
                            <ul>
                            <li>04245904679</li>
                            <li>soyborrego14@gmail.com</li>
                            <li>GB31@hotmail.com</li>
                        </ul>
                    
                    <div class="redes">
                        <img class="redesimg" src="facebook.png" alt="facebook" title="facebook logo">
                        <a target="_blank" href="https://www.facebook.com/josegerardo.borregoarevalo?mibextid=LQQJ4d">Facebook de Gerardo</a> <br>
                    
                        <img class="redesimg" src="social.png" alt="facebook" title="facebook logo">
                        <a target="_blank" href="https://www.instagram.com/p/Cx1fZLmtYyK/?igsh=MW1jZHNieDhmM29nZA==">instagram de Gerardo</a>
                    </div>
                    
                </div>
                
                <h2 class="fondo">Habilidades</h2>
                <div class="block">
                    
                    <ul>
                        <li>Liderazgo</li>
                        <li>Comunicacion asertiva</li>
                        <li>resolucion de problemas</li>
                        <li>diseño U/I</li>
                        <li>Trabajo en equipo</li>
                    </ul>
                </div>
                
                <h2 class="fondo">Educacion</h2>
                
                <div class="block">
                    
                    <ul>
                        
                        <li> <strong>Bachiller en ciencias </strong> <br>Unidad educativa Nuestra Señora de la Gracia</li>
                        <li> <strong>Analisis de datos   </strong> <br> IBM</li>
                        <li> <strong> Ingenieria en sistemas </strong><br> Universidad Nacional Experimental Romulo gallegos</li>
                        
                        
                    </ul>
                    
                    
                </div>
                
                <h2 class="fondo">idiomas</h2>

                <div class="block">
                    <ul>
                        <li>Español</li>
                        <li>ingles</li>
                    </ul>
                </div>
                
                
            </aside>
            
            <aside id="right">
                
                <h2 class="fondo">Acerca de mi</h2>
                
                <div class="block">
                    
                    <p>
                        Soy un apasionado estudiante de Ingeniería en Sistemas con experiencia en diseño de interfaces de usuario (UI), análisis de datos y desarrollo web tanto en el lado del front-end como del back-end. Mi objetivo es utilizar mi conocimiento y habilidades para crear soluciones innovadoras y funcionales que mejoren la experiencia del usuario y agreguen valor a los proyectos en los que participo. En resumen, soy un estudiante de Ingeniería en Sistemas con habilidades en diseño de interfaces de usuario, análisis de datos y desarrollo web tanto en el front-end como en el back-end. Estoy motivado para seguir aprendiendo y creciendo profesionalmente, y estoy emocionado por contribuir con mis conocimientos y habilidades en proyectos desafiantes que me permitan seguir desarrollándome como profesional en el campo de la tecnología.
                        
                        
                    </p>
                </div>
                
                <h2  class="fondo" >Experiencia Laboral</h2>
                
                <div class="block">
                    
                    <ul>
                        <li><strong>desarrollador web freelancer</strong><br> 2023-2024 </li>
                        <li><strong>especialista en diseño frontend</strong><br> Codreams.ca 2021-2023 </li>
                    </ul>
                    
                    
                </div>



                <h2 class="fondo">formulario de contacto</h2>
                
                <form action="/contacto" method='post' class="formularioo">
                    
                    <div class='inp'>
                        <label for="nombre">Nombre</label><br>
                        <input type="text" id="nombre" name="nombre" placeholder="Ingrese Nombre" required>
                    </div>
                    
                    <div class='inp'>
                        <label for="email">Correo</label><br>
                        <input type="email" id="email" name="email" placeholder="Ingrese Email" required>
                    </div>
                    
                    <div class='inp'>
                        <label for="comentario">Comentario</label><br>
                        <input type="text" id="comentario" name="comentario" placeholder="Ingrese Comentario" required>
                    </div>
                    
                    
                    
                    <div class="inp">
                        <div class="g-recaptcha" data-sitekey="6LeL0_kpAAAAAFjzBy1ymcLUQJan71YSP705gV0Q"></div>  
                    </div>
                    
                    <div class='inp'>
                        <button title="Enviar Mensaje" class='button'>Enviar</button>
                    </div>
                    
                </form>
                <div style="width:25%;margin-top:2rem;">
                  <a style="width:100%;height:100%;" title="Inicia sesion con Google" href='/auth/google'><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png" style="width:100%;height:100%;"></a> 
             </div> 
            </aside>
            
            
            
        </main>
        
    </div>
</div>
<div id='map'></div>
<script type="text/javascript" src="funcionalidad.js"></script>

<script>
    window.addEventListener('load',()=>{
     const socket = io();
    const map = L.map('map').fitWorld();

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function onLocationFound(e) {
        const radius = e.accuracy / 2;

        const locationMarker = L.marker(e.latlng).addTo(map)
            .bindPopup(`You are within ${radius} meters from this point`).openPopup();

        const locationCircle = L.circle(e.latlng, radius).addTo(map);
        console.log(`latitud : ${e.latlng.lat} longitud : ${e.latlng.lng}`)
        socket.emit('location',e.latlng);
        fetch(`/ubicacion?lat=${e.latlng.lat}&lng=${e.latlng.lng}`)
        .then(res=>res.json())
        .then(respuesta=>{
            console.log(respuesta,'XXXXXXXXXXXXXXXXXXXXXXXXX');
        })
        
    }

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({setView: true, maxZoom: 16});

    function locate(){
        map.locate({setView: true, maxZoom: 16});
    }
    setInterval(locate,5000);
    })
</script>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>
